<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>JoFriends</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/modern-business.css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .select {
            border: 1px solid #c9c9c9;
            background-color: #fff;
            color: #666;
            height: 28px;
            line-height: 28px;
            padding: 4px 6px;
            font-size: 14px;
            border-radius: 4px;
            cursor: pointer;
            outline: none;
        }
    </style>
</head>
<body style="background-color:blanchedalmond">
    @{

        JoFriendsDemo.Models.users user = Session["User"] as JoFriendsDemo.Models.users;

    }
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html"><img src="/img/logo.png" style="width:200px;height:100px"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="form-inline ml-auto">
            <select name="production" size="1" class="select" style="height:50px;margin-right:10px;width:100px">
                <option value="1">標題</option>
                <option value="2">地點</option>
                <option value="3">時間</option>
            </select>
            <input class="form-control mr-sm-2" type="text" placeholder="找活動" style="width:400px;height:50px" />
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search" style="width:100px;height:50px">
        </form>
        <ul class="navbar-nav ml-auto">
            @{if (Session["User"] == null)
                {
                    <li><h1>&nbsp</h1></li>
                    <li style="margin-top:5px">
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Login">登入</button>
                    </li>
                    <li><h1>&nbsp</h1></li>
                    <li style="margin-top:5px">
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">註冊</button>
                    </li>
                }
                else
                {
                    <li style="margin-top:5px;color:azure;font-size:30px">
                        <u>哈囉!  @user.nickname.ToString()</u>
                    </li>
                    <li><h1>&nbsp</h1></li>
                    <li><h1>&nbsp</h1></li>
                    <li style="margin-top:5px">
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#create1">我要揪團</button>
                    </li>
                    <li><h1>&nbsp</h1></li>

                    <li><h1>&nbsp</h1></li>
                    <li style="margin-top:5px">
                        <form action="/User/Logout" method="post">
                            <input id="logout" type="submit" class="btn btn-info btn-lg" value="登出">
                        </form>
                    </li>
                }
            }
        </ul>
    </nav>
    <div class="modal fade" id="myModal" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-uppercase">會員註冊 (*必填選項)<span id="plzw8"></span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <form action="~/User/Register" id="formUserRegister" method="post">
                    <div class="form-group">
                        <label for="email">請輸入Email:*</label>
                        <input type="text" class="form-control" name="Account" required placeholder="Email">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label for="password">請輸入密碼:*</label>
                        <input type="password" class="form-control" name="Password" required="required" placeholder="Password">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="name">姓名:</label>
                            <input type="text" class="form-control" name="Name" required placeholder="Name">
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label for="nickname">暱稱:*</label>
                            <input type="text" class="form-control" name="Nickname" required placeholder="nickname">
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label for="birthDate">生日:*</label>
                            <input type="date" class="form-control" name="birthDate" required="required" placeholder="birthDate">
                            <span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="gender">性別:</label>
                        <input type="radio" name="gender" value="male"> 男
                        <input type="radio" name="gender" value="female"> 女
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label for="mobile">手機:*</label>
                        <input type="text" class="form-control" name="Mobile" required="required" placeholder="phone">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label for="address">地址:*</label>
                        <input type="text" class="form-control" name="Address" required placeholder="address">
                        <span></span>
                    </div>
                    <div class="modal-footer">
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-default" value="註冊" />
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="離開" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Login" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-uppercase">會員登入<span id="plzw8"></span></h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <form id="formUserRegister" action="~/User/Login" method="post">
                    <div class="form-group">
                        <label for="email">請輸入Email:</label> <input class="form-control" name="Account" required placeholder="Email"
                                                                    type="text"> <span></span>
                    </div>
                    <div class="form-group">
                        <label for="password">請輸入密碼:</label> <input class="form-control" name="Password" required placeholder="Password"
                                                                    type="password"> <span></span>
                    </div>
                    <div class="modal-footer">
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-default" value="登入" />
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="離開" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="create1" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4>建立活動</h4>
                </div><hr />
                <form action="~/Activity/CreateActivity" method="post">
                    <div class="form-group">
                        <b><u><label style="font-size:20px">活動分類</label></u></b>
                        <select name="Category" class="select" style="width:200px;margin-right:40px">
                            <option value="0">分類</option>
                            <option value="1">肥宅運動會</option>
                            <option value="2">音樂</option>
                            <option value="3">外國語交流</option>
                            <option value="4">遊戲</option>
                            <option value="5">寵物</option>
                            <option value="6">邊緣人約吃飯</option>
                            <option value="7">攝影</option>
                            <option value="8">讓計程車失業</option>
                            <option value="9">文青集散地</option>
                            <option value="10">時尚</option>
                            <option value="11">旅遊</option>
                            <option value="12">長照</option>
                            <option value="13">官方活動</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="password">活動名稱</label><hr />
                        <input type="text" class="form-control" name="Title" required="required" />
                    </div>
                    <div class="form-group">
                        <label>活動地點</label>
                        <input type="text" class="form-control" name="Address" required="required" />
                    </div>
                    <div class="form-group">
                        <label style="font-size:20px;"><b><u>活動期間</u></b></label><br /><hr />
                        <label style="font-size:20px;">開始時間</label>
                        <input type="datetime-local" style="width:200px;margin-left:40px" class="form-control" name="BeginAt" required="required" placeholder="請選擇時間...">
                        <label style="font-size:20px;">結束時間</label>
                        <input type="datetime-local" style="width:200px;margin-left:40px" class="form-control" name="EndAt" required="required" placeholder="請選擇時間...">
                    </div>
                    <div class="form-group">
                        <label>參加人數</label>
                        <input type="text" class="form-control" name="TotalPeople" required="required" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>費用</label>
                        <input type="text" class="form-control" name="Cost" required="required" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>聯絡電話</label>
                        <input type="text" class="form-control" name="Phone" required="required" placeholder="手機" />
                    </div>
                    <div class="form-group">
                        <label for="comment">內容摘要</label>
                        <textarea name="Content" class="form-control" rows="5" style="width:400px;margin-left:40px"></textarea>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="我要開團" />
                            <input type="reset" class="btn btn-primary" data-dismiss="modal" value="重設">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <footer class="py-5 bg-dark">
        <div class="container" style="font-size:30px">
            <p class="m-0 text-center text-white">Copyright &copy ; JoFriends 2017</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/bootstrap.bundle.min.js")
    @Scripts.Render("~/Scripts/jquery-3.2.1.min.js")
    @RenderSection("scripts", required: false)
 
    <script type="text/javascript">

        $(document).ready(function () {

            $('#SendComment').click(function () {

                if ($('#UserID').text() == "") {

                    alert("您尚未登入，請您先登入才可以開始留言喔!");
                }
                else {

                    var data = {

                        comment: {
                            CategoryID: $('#CategoryID').text(),
                            comment: $('#Comment').text()
                        }
                    }
                    $.ajax({
                        type: "post",
                        url: "/Activity/PostComment",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify(data),
                        success: function () {
                            sweetAlert("aaa")
                            $("#GuestBook").append("<div style='margin-left:5px' class='col-sm-9 col-md-10'>" +
                                "<p>" + "<img src='/img/Info.jpg' style='width:50px;height:50px'/>"
                                +$('#NickName').text() + "</p>" +
                                "<p>" + $('#Comment').text() + "</p>" +
                                "<p>" + new Date() + "</p></div>");
                        }
                    });
                }
            });
        });
    </script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>
